.container {
  display: flex;
  flex-direction: column;
  gap: 44px;

  font-family: var(--font-family-primary);
  font-style: normal;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.avatarNameRatingContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-badges);

  color: var(--color-button);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.nameRatingContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ratingContainer {
  display: flex;
  gap: 4px;
}

.comment {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}