.container {
  border: 1px solid var(--color-light-gray);
  border-radius: 10px;
  padding: 44px;
  background-color: #FFFFFF;
  width: calc((100% - 40px) / 2);
  display: flex;
  flex-direction: column;
  gap: 24px;

  font-family: 'Inter', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  color: var(--color-main);
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray);
  margin: 0;
  line-height: 1.5;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.textarea {
  width: 100%;
  height: 118px;
  background-color: var(--color-inputs);
  border: none;
  border-radius: 10px;
  padding: 18px;
  font-size: 16px;
  color: var(--color-main);
  resize: none;
  outline: none;
}

.textarea::placeholder {
  color: var(--color-gray);
}