.headerContainer {
  display: flex;
  align-items: center;
  padding: 24px 64px;
  width: 100%;

  border-bottom: 1px solid var(--color-badges);
  background: var(--color-inputs);
}

.logoContainer {
  margin-right: 450px;
  cursor: pointer;
}

.navigation {
  display: flex;
  gap: 32px;
}

.navLink {
  color: var(--color-main);
  text-align: center;
  text-decoration: none;

  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.activeNavLink {
  color: var(--color-button-hover);
}