.card {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid var(--color-light-gray);
  border-radius: 20px;
  background: var(--color-white);
  height: fit-content;

  font-family: var(--font-family-primary);
  color: var(--color-main);
  font-style: normal;
}

.imageWrapper {
  flex-shrink: 0;
  width: 292px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  flex-grow: 1;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  margin: 0;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.favoriteBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.ratingLocation {
  display: flex;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.rating,
.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 525px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}