.container {
  display: flex;
  flex-direction: column;
  padding: 44px 52px;

  border-radius: 10px;
  background: var(--color-inputs);

  color: var(--color-main);
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.featureTagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 100px;
}

.vehicleDetailsHeader {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.divider {
  border: none;
  border-top: 1px solid var(--color-light-gray);
  margin: 24px 0;
}

.vehicleDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.vehicleDetailsItem {
  display: flex;
  justify-content: space-between;
}