.container {
  display: flex;
  flex-direction: column;
}

.ratingLocation {
  display: flex;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.rating {
  text-decoration: underline;
}

.rating,
.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.gallery{
  display: flex;
}

.imageWrapper {
  flex-shrink: 0;
  width: 292px;
  height: 312px;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  margin-bottom: 60px;
}