.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 48px 64px;
  font-family: var(--font-family-primary);
  font-style: normal;
}

.camperName {
  color: var(--color-main);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  margin: 0 0 8px 0;
}

.ratingLocation {
  display: flex;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 16px;
}

.rating {
  text-decoration: underline;
}

.rating,
.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 28px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.imageWrapper {
  width: 292px;
  height: 312px;
  overflow: hidden;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.description {
  margin: 0 0 60px 0;

  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.tabsHeader {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid var(--color-light-gray);
  margin-bottom: 44px;
}

.tabBtn {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 24px;
  cursor: pointer;
  color: var(--color-main);
  position: relative;
}

.tabBtn.active::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--color-button);
}

.featuresReviewsForm {
  display: flex;
  gap: 40px;
}

.featuresReviewsContainer {
  width: calc((100% - 40px) / 2);
}