.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 48px 64px;
}

.ratingLocation {
  display: flex;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.rating {
  text-decoration: underline;
}

.rating,
.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.imageWrapper {
  width: 292px;
  height: 312px;
  overflow: hidden;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.description {
  margin-bottom: 60px;
}

.tabsHeader {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 44px;
}

.tabBtn {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 24px;
  cursor: pointer;
  color: #101828;
  position: relative;
}

.tabBtn.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #E44848;
  border-radius: 2px;
}

.featuresReviewsForm {
  display: flex;
  gap: 40px;
}