.squareFeature {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  padding: 16px 40px;
  box-sizing: border-box;

  border-radius: 12px;
  border: 1px solid var(--color-light-gray);
}

.ovalFeature {
  display: inline-flex;
  gap: 8px;
  border-radius: 100px;
  background-color: var(--color-badges);
  padding: 12px 18px;
}

.selected {
  border-color: var(--color-button);
}

.iconText {
  text-transform: capitalize;
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.08px;
}